<div ng-controller="employeeCtrl">
  <div id="employees">
    <center>
      <md-button ng-click="addEmployee()" class="md-raised">
      <i class="fa fa-plus" aria-hidden="true"></i> 
        Add
      </md-button>

      <md-button ng-click="updateEmployee()" ng-disabled="selectedEmployee === null" class="md-raised">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        Edit
      </md-button>

      <md-button ng-click= "deleteEmployee()" ng-disabled="selectedEmployee === null" class="md-raised">
        <i class="fa fa-trash-o fa-lg"></i>
        Delete
      </md-button>

      <md-button ng-click="cancelEmployee()" class="md-raised" ng-disabled="noChangesMade">
      <i class="fa fa-trash-o fa-lg"></i>
        Cancel
      </md-button>
      <md-button ng-click="saveEmployee()" class="md-raised" 
      ng-disabled="!madeChangesToBeUpdated">
      <i class="fa fa-trash-o fa-lg"></i>
        Save
      </md-button>
    </center>
  </div>
  <kendo-grid 
  id="grid"
  k-options="gridOptionsEmp">
  </kendo-grid>
</div>

