<div ng-controller="departmentCtrl">
  <div id="department" >
    <center>
      <md-button ng-click="addDepartment()" class="md-raised">
        <i class="fa fa-plus" aria-hidden="true"></i> 
        Add
      </md-button>

      <md-button ng-click="updateDepartment()" ng-disabled="selectedDepartment === null" class="md-raised">
          <i class="fa fa-refresh" aria-hidden="true"></i>
        Edit
      </md-button>

      <md-button ng-click= "deleteDepartment()" ng-disabled="selectedDepartment === null" class="md-raised">
      <i class="fa fa-trash-o fa-lg"></i>
        Delete
      </md-button>

      <md-button ng-click="cancelDepartment()" class="md-raised" ng-disabled="noChangesMade">
      <i class="fa fa-trash-o fa-lg"></i>
        Cancle
      </md-button>

      <md-button ng-click="saveDepartment()" class="md-raised" 
      ng-disabled="!madeChangesToBeUpdated">
      <i class="fa fa-trash-o fa-lg"></i>
        Save
      </md-button>
    </center>
  </div>

  <kendo-grid k-options="gridOptionsMan" id="dep-grid"></kendo-grid>
</div>

